/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.app-store-container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: Bree Serif;
  font-size: 25px;
  font-weight: bold;
  color: #1e293b;
}

@media (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b8794;
  width: 200px;
  border-radius: 5px;
  padding: 8px;
}

@media (min-width: 768px) {
  .search-container {
    width: 600px;
  }
}

.search {
  background-color: transparent;
  border: none;
  outline: none;
  width: 150px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .search {
    width: 550px;
  }
}

.search-icon {
  height: 25px;
  width: 25px;
}

.tabs-list {
  display: flex;
  justify-content: center;
}

.apps-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

@media (min-width: 768px) {
  .apps-list {
    width: 50%;
  }
}
